name: Code Style Check

on:
  push:
    branches: [ main, development ]
  pull_request:
    branches: [ main ]

jobs:
  lint:
    runs-on: ubuntu-latest

    steps:
    - name: Checkout code
      uses: actions/checkout@v4

    - name: Set up Python
      uses: actions/setup-python@v5
      with:
        python-version: '3.12'

    - name: Install dependencies
      run: |
        python -m pip install --upgrade pip
        pip install pylint python-can
        pip install pylint

    - name: Run Pylint
      run: |
        pylint --disable=C0114,C0116,C0115,R0903,E0401 \
               --init-hook="import sys; sys.path.append('src')" \
               --fail-under=8.0 src/NPB_1700/
